    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="admin.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Webtoons <span>| Total</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-journal"></i>
                    </div>
                    <div class="ps-3">
                      <h6><span class="text-success small pt-1 fw-bold">145</span></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Episodes <span>| Totals</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-book-half"></i>
                    </div>
                    <div class="ps-3">
                      <h6><span class="text-success small pt-1 fw-bold">1200</span></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
 
              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Users <span>| Total</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6><span class="text-primary small pt-1 fw-bold">125</span></h6>
                      

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <section class="section">
              <div class="row">
                <div class="col-lg-12">
        
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Recently Uploaded</h5>
                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th>
                              Name
                            </th>
                            <th>Episode Number</th>
                            <th>Status</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Uploaded Date</th>
                            <th>Detail</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>
                          <tr>
                            <td>Unity Pugh</td>
                            <td>58</td>
                            <td>Ongoing</td>
                            <td>2005/02/11</td>
                            <td><button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button></td>
                          </tr>


                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
        
                    </div>
                  </div>
        
                </div>
              </div>
            </section>
</div>
</div>
</div>
</section>