<div class="pagetitle">
    <h1>Webtoon List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="admin.html">Home</a></li>
        <li class="breadcrumb-item"><a href="webtoon-list.html">Webtoon-List</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card with an image on top</h5>
            <button type="button" class="btn btn-outline-success"><a href="add-episode.html">Add</a></button>
            <button type="button" class="btn btn-outline-primary"><a href="webtoon-update.html">Update</a></button>
            <button type="button" class="btn btn-outline-danger"><a href="#">Delete</a></button>
            <button type="button" class="btn btn-info"><a href="episode-list.html"><i class="bi bi-folder"></i></a></button>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Centered Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav><!-- End Centered Pagination -->